.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
    
}
.resultscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: center;
    padding: 2rem 0 0 0;
}
.results{
    width: 8rem;
    border-radius: 50%;
    height: 8rem;
    background-color: rgb(33, 62, 72);
}