.maincontainer{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
}
.topsection{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.symbolcontainers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max(190px,0px);
    justify-content: space-between;
}
.compsymbol{
    /* visibility: hidden; */
}
.symbols{
    height: fit-content;
    padding-bottom: 2rem;
}
.subheader{
    width: fit-content;
}
.header{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

@media screen and (min-width:375px) {
    .maincontainer{
        gap: 5rem;
    }
     
}